<h1></h1>
<form action="/pirates" method="post">
  <label for="pirate[name]">Pirate Name:</label> 
  <input type="text" name="pirate[name]">
  <label for="pirate[weight]">Pirate Weight:</label>
  <input type="text" name="pirate[weight]">
  <label for="pirate[height]">Pirate Height:</label>
  <input type="text" name="pirate[height]">
  <label for="pirate[ship][][name]">ship 1 Name:</label>
  <input type="text" name="pirate[ships][][name]">
  <label for="pirate[ships][][type]">ship 1 Type:</label>
  <input type="text" name="pirate[ships][][type]">
  <label for="pirate[ships][][booty]">ship 1 Booty:</label>
  <input type="text" name="pirate[ships][][booty]">
  <label for="pirate[ships][][name]">ship 2 Name:</label>
  <input type="text" name="pirate[ships][][name]">
  <label for="pirate[ships][][type]">ship 2 Type:</label>
  <input type="text" name="pirate[ships][][type]">
  <label for="pirate[ships][][booty]">ship 2 Booty:</label>
  <input type="text" name="pirate[ships][][booty]">
  <input type="submit">
</form>
end 

